
/* Inicialización */
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: black;
    background: #808080;
}

body {
    font-family: "Roboto", sans-serif;
}

  /* Clase reutilizable: centra el contenido y le pone un ancho maximo */
.contenedor {
    max-width: 1500px;
    margin: 0 auto;          /* 0 arriba/abajo, auto a los costados = centrado */
    padding: 20px 20px;
}

.boton {
    display: inline-block;
    margin-top: 20px;
    background: #FFD34D;
    color: #222;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.boton:hover {
    background: #FFC107;
}

header {
    background: #b6d1cd;
    color: white;
}

.encabezado {
    display: flex;
    justify-content: space-between;  /* para 3 elementos: izq-centro-der */
    align-items: center;             /* centrados a la misma altura */
    gap: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
}

.hero {
    background: #1F6F66;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero span{
    font-size: 1.2em;
    color: blue;
}

.grid-main {
    display: grid;
    grid-template-columns: 300px 1fr; /* columna a la izquierda de 300px y espacio restante */
    grid-template-rows: auto ; /* una fila */
}

.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: auto;
    padding: 10px;
    background-color: #eaeaea;
}

.cuerpo {
    display: flex;   
    align-items: center;
    height: 500px;
    background-color: yellowgreen;
    justify-content: space-around;
}

.card {
    flex: 0 1 320px;
    text-align: center;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    overflow: hidden;         /* recorta la imagen a las esquinas redondeadas */
    display: flex;
    flex-direction: column;   /* imagen arriba, texto abajo (en columna) */
}

footer {
    background: #222;
    color: #DDD;
    padding: 40px 0 20px;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*c 3 columnas */
    grid-template-rows: auto;
    gap: 30px;
}

.columna {
    flex: 1 1 250px;          /* crece, se achica, base 250px */
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

/* Los iconos de redes, en fila y separados */
.redes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

  /* Cada icono va dentro de un circulo.
     Usamos flex para centrarlo adentro. */
  .redes a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .redes a:hover {
    background: #2F8F83;
    color: white;
  }
